@import '@fontsource-variable/merriweather';

:root {
  --sl-font: 'Merriweather Variable', serif;
  --sl-font-mono: monospace, ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

  --sidebar-width: 25rem;
}
